@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.notifi {
    display: grid;
    grid-template-columns: 20vh 35vh;
    grid-template-rows: 100%;
    padding-top: 1.5vh;
    padding-inline: 2.5vh;
    padding-bottom: 1.5vh;
    width: 60vh;
    height: 22vh;
    /* background: linear-gradient(to right, #b9ced0, #e9f0f1); */
    background: #e9f0f1;
    border-radius: 2vh;
    box-sizing: border-box;
    border: 2px solid #d4dadb;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 0px 1px #8c9192);
}

.notifi-logo {
    width: 100%;
    height: 100%;

    background: #e9f0f1;
    filter: drop-shadow(0px 0px 3px rgb(177, 176, 176));
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.warn {
    background: url("api-img/warning.png");
    background-size: contain;
    width: 15vh;
    height: 15vh;


}

.help {
    background: url("api-img/help.png");
    background-size: contain;
    width: 15vh;
    height: 15vh;


}

.ads {
    background: url("api-img/ad.png");
    background-size: contain;
    width: 15vh;
    height: 15vh;


}

.info {
    background: url("api-img/information.png");
    background-size: contain;
    width: 15vh;
    height: 15vh;


}

.notifi-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4vh 14vh;

}

.notifi-title {
    padding-inline: 10%;
    width: 80%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5vh;
    color: #0E0E0E;
}

.notifi-mess {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.5vh;
    padding-inline: 5%;
    padding-inline: 10%;
    width: 80%;

}

.notifi-exit {
    font-family: 'Montserrat', sans-serif;
    font-size: 60%;
    font-weight: bold;
    width: 3vh;
    height: 3vh;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: none;
    border-radius: 50%;
    color: #fff;
    background: #e52f2f;


}

.default {
    translate: 0px;
    position: fixed;

}

.from-right {
    translate: 1200px;
    position: fixed;
    transition: all 500ms;

}

.from-left {
    translate: -1200px;
    position: fixed;
    transition: all 500ms;

}



.to-center {
    translate: 0px;
    position: fixed;
    transition: all 500ms;
}