/*CSS FILE ISN'T REQUIRED!*/


body {
    background: rgb(31, 33, 36);
    height: 120vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 20vh;
    padding: 0;
    margin: 0;

}

:root {
    --cnp-black: #0E0E0E;
    --cnp-gray: #1C1A25;
    --cnp-brown: #211D1A;
    --cnp-merino: #F1E9DC;
    --cnp-orange: #f1802d;
    --cnp-darkblue: #0F2C40;
    --cnp-blue: #3A4F7A;
    --cnp-clearwhite: #FFFFFF;
    --cnp-silver: #7E8E98;
    --cnp-lightblue: #2D83BF;
    ---cnp-lightblue2: #90CBEF;
    --cnp-aqua: #439A97;
    --cnp-pink: #FFCAC8;
    --cnp-golden: #FFBF00;
    --cnp-yellow: #FED049;
    --cnp-darkpink: #9C254D;
    --cnp-darkgray: #282A3A;
    --cnp-modern-gray: #497174;
    --cnp-modern-white: #D6E4E5;
    --cnp-modern-orange: #EB6440;
    --cnp-modern-dirty-white: #EFF5F5;
    --cnp-ideal-gray: #393E46;
    --cnp-ideal-green: #6D9886;
    --cnp-ideal-beige: #F2E7D5;
    --cnp-ideal-white: #F7F7F7;
    --cnp-red: #CF0A0A;

}

::selection {
    background: rgb(97, 105, 113);
}

.box {
    width: 100%;
    height: 100%;


}

.frs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frs::before {
    position: fixed;
    content: ' Example Site';
    top: 0;
    left: 0;
    width: 20vh;
    height: 3vh;
    color: #fff;
    opacity: 80%;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 1rem;
    background: rgb(28, 30, 32);


}

.frs>h1,
h5 {
    color: #fff;
    opacity: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.frs>h5 {
    font-weight: normal;
}



.sec {
    width: 100%;
    margin: 0;
    background: rgb(22, 24, 27);
}

.run {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vh;
    height: 6vh;
    color: #fff;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 1rem;
    background: rgb(28, 30, 32);
    border: none;
    text-align: center;
    border-radius: 0px 0px 0px 1vh;
    filter: drop-shadow(1px -5px 10px rgb(75, 82, 89));
    transition: all 200ms;
}

.run:hover {
    filter: drop-shadow(1px -5px 10px rgb(115, 125, 136));
}